#
# @(#) $Id: setup_dfarm.sh.template,v 1.1 2001/11/05 16:32:49 ivm Exp $
#

# Non UPS installation:
# 1. Copy this file into <product directory>/bin/setup_dfarm.sh
# 2. Define DFARM_ROOT variable manually:

DFARM_ROOT="_ROOT_"
DFARM_CONFIG="${DFARM_ROOT}/cfg/dfarm.cfg"
export DFARM_ROOT DFARM_CONFIG
